

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.card-container {
    display: flex;
}

.card {
    flex: 1;
    background-color: #fff;
    padding: 1rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: flex 1s ease, background-color 0.3s ease; /* Added background-color transition */
    overflow: hidden;
}

.card:hover {
    flex: 2;
    background-color: #acabab; /* Change background color to blue on hover */
}

.aboutUs > h1 {
    font-size: 50px;
    color: #b3bfcfee;
    margin-left: 1.5rem;
}

.aboutUs > p {
    color: #fff;
    margin: 1.5rem;
}

#image-container {
    filter: grayscale(100%); /* Converts the image to grayscale */
}
  
#image-container:hover {
    filter: none; /* Removes the grayscale filter on hover */
}
  