.card-container{
    display: flex;
    flex-grow: 1;
}
.card-container>.card{
    transition-duration: 1000ms;
    background-color: gray;
    flex-shrink: 3;
}
.card>img{
    height: 100%;
    width: fit-content;
    filter: grayscale(100%);
    transition-duration: 1000ms;
}

.card>img:hover{
    filter: grayscale(0%);
    width: min-content;
}

.card:hover{
    flex: auto;
}