
.viewBlog-container {
    /* background-color:white; */
    /* color: black; */
    /* height: 100svh; */
    justify-content: space-evenly;
    position: relative;
}
.comment-container {
    width: 30svw;
    max-width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.291);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items:left;
    margin: 1.5rem auto;
}
.blog-container {
    width: 950px;
    max-width: 90%;
    /* border: 1px solid black; */
    padding: 2rem;
    /* overflow-y: auto; */
    margin: 1.5rem auto;
}
.blog-content{
    border: groove;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
}
.comment{
    display: flex;
    flex-direction: column;    
}
.icon-Container{
    cursor: pointer;
    transition-duration: 500ms;
}
.icon-Container:hover{
    scale: 1.1;
}
  